{% extends "AppOdonto/padre.html" %}

{% block header %}
    <h1 class="display-5 fw-bolder text-white mb-2">Sobre mí</h1>
{% endblock %}

{% block features %}
{% endblock %}

{% block testimonials %}
{% endblock %}

{% block acercademi %}
    Acerca de mí
    <img>
    <p>Hola, mi nombre es Liza, soy Licenciada en Administración y actualmente trabajo como asistente contable en una empresa china de construccion de energias renovables. 
    En estos últimos tiempos estuve haciendo cursos de programación ya que me interesa encaminarme por ese mundo y desarrollarme de forma profesional.</p>
    <p>Este proyecto está basado en el sueño de mis padres de tener un consultorio odontológico. Cabe aclarar que mi hermano es dentista y yo estudié odontología por dos años, carrera que luego terminé dejando.</p>
    <p>Analizando el objetivo de este trabajo se me ocurrió realizar un portal del consultorio en el que los odontologos pudiesen administrar de forma simple una base de datos de los items más importantes.</p>
{% endblock %}

{% block footer %}
{% endblock %}