{% extends "AppOdonto/padre.html" %}
 
{% block header %}
    <h1 class="display-5 fw-bolder text-white mb-2">Pacientes</h1>
{% endblock %}

{% block features %}
{% endblock %}

{% block testimonials %}
{% endblock %}    

{% block formulario %} 

    <ul>
        {% for paciente in object_list %} 
            <li>
                <p>
                    Nombre: {{paciente.nombre}}
                </p>
                <p>
                    <a href="{% url 'Paciente Detail' paciente.id %}">Ver Paciente</a>
                    <a href="{% url 'Paciente Edit' paciente.id %}">Editar Paciente</a>
                    <a href="{% url 'Paciente Delete' paciente.id %}">Borrar Paciente</a>
                </p>
            </li>
        {% endfor %}
    </ul>
    <br>
    <button>
        <a href="{% url 'Paciente Create' %}">Crear Paciente</a>
    </button>
    <p>
        <a href="{% url 'Inicio' %}">Volver</a>
    </p>
{% endblock %}

{% block footer %}
{% endblock %}