{% extends "AppOdonto/padre.html" %}
 
{% block header %}
    <h1 class="display-5 fw-bolder text-white mb-2">Pacientes</h1>
{% endblock %}

{% block features %}
{% endblock %}

{% block testimonials %}
{% endblock %}    

{% block formulario %} 
    
    <p>Nombre: <i>{{paciente.nombre}}</i></p>
    <p>Apellido: <i>{{paciente.apellido}}</i></p>
    <p>Edad: <i>{{paciente.edad}}</i></p>
    <p>Celular: <i>{{paciente.celular}}</i></p>
    <p>Email: <i>{{paciente.email}}</i></p>
    <p>
        <a href="{% url 'Paciente List' %}">Volver</a>
    </p>

{% endblock %}

{% block footer %}
{% endblock %}