{% extends "AppOdonto/padre.html" %}
 
{% block header %}
    <h1 class="display-5 fw-bolder text-white mb-2">Pacientes</h1>
{% endblock %}

{% block features %}
{% endblock %}

{% block testimonials %}
{% endblock %}    

{% block formulario %} 
 
<section class="m-5">
    <p><b>Nombre:</b> <i>{{paciente.nombre}}</i></p>
    <p><b>Apellido:</b> <i>{{paciente.apellido}}</i></p>
    <p><b>Edad:</b> <i>{{paciente.edad}}</i></p>
    <p><b>Celular:</b> <i>{{paciente.celular}}</i></p>
    <p><b>Email:</b> <i>{{paciente.email}}</i></p> <br>
    <p>
        <a href="{% url 'Paciente List' %}" class="btn btn-primary mx-4">Volver</a>
    </p>
</section>

{% endblock %}

{% block footer %}
{% endblock %}