<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Pacientes</h1>
    <ul>
        {% for paciente in object_list %} 
            <li>
                <p>
                    Nombre: {{paciente.nombre}}
                </p>
                <p>
                    <a href="{% url 'Paciente Detail' paciente.id %}">Ver Paciente</a>
                    <a href="{% url 'Paciente Edit' paciente.id %}">Editar Paciente</a>
                    <a href="{% url 'Paciente Delete' paciente.id %}">Borrar Paciente</a>
                </p>
            </li>
        {% endfor %}
    </ul>
    <br>
    <button>
        <a href="{% url 'Paciente Create' %}">Crear Paciente</a>
    </button>

</body>
</html>