{% extends "AppOdonto/padre.html" %}

{% block header %}
    <h1 class="display-5 fw-bolder text-white mb-2">Detalle servicio</h1>
{% endblock %}

{% block features %}
{% endblock %}

{% block testimonials %}
{% endblock %}

{% block formulario %}  

<section class="m-5">
    <p><b>Nombre:</b> <i>{{servicio.servicio}}</i></p>
    <p><b>Especialidad:</b> <i>{{servicio.especialidad}}</i></p>
    <p><b>Descripcion:</b> <i>{{servicio.descripcion}}</i></p>
    <p><b>Precio:</b> $<i>{{servicio.precio}}</i></p> <br>
    <p>
        <a href="{% url 'Servicio List' %}" class="btn btn-primary mx-4">Volver</a>
    </p>
</section>

{% endblock %}

{% block footer %}
{% endblock %}