{% extends "AppOdonto/padre.html" %}

{% block header %}
    <h1 class="display-5 fw-bolder text-white mb-2">Servicios</h1>
{% endblock %}

{% block features %}
{% endblock %}

{% block testimonials %}
{% endblock %}

{% block formulario %}  

<table class="table m-5">
    <thead>
    <tr>
        <th scope="col">Servicio</th>
        <th scope="col">Especialidad</th>
        <th scope="col">Precio</th>
        <th scope="col">Ver más</th>
        <th scope="col">Editar</th>
        <th scope="col">Borrar</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">

    {% for servicio in object_list %}
        <tr>
            <td>{{servicio.servicio}}</td>
            <td>{{servicio.especialidad}}</td>
            <td>$ {{servicio.precio}}</td>
            <td><a href="{% url 'Servicio Detail' servicio.id %}" class="btn btn-outline-info"><i class="bi bi-eye-fill"></i></a></td>
            <td><a href="{% url 'Servicio Edit' servicio.id %}" class="btn btn-outline-warning"><i class="bi bi-pencil-square"></i></a></td>
            <td><a href="{% url 'Servicio Delete' servicio.id %}" class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i></a></td>
        </tr>
    {% endfor %}

    </tbody>
</table>

    <p class="text-center"><a href="{% url 'Servicio Create' %}" class="btn btn-outline-success">Agregar Servicio</a></p>
    <p>
    <p class="text-center"><a href="{% url 'Inicio' %}" class="btn btn-outline-primary">Volver</a></p>
    </p>

{% endblock %}

{% block footer %}
{% endblock %}