<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Servicios</h1>
    <ul>
        {% for servicio in object_list %} 
            <li>
                <p>
                    Nombre: {{servicio.nombre}}
                </p>
                <p>
                    <a href="{% url 'Servicio Detail' servicio.id %}">Ver Servicio</a>
                    <a href="{% url 'Servicio Edit' servicio.id %}">Editar Servicio</a>
                </p>
            </li>
        {% endfor %}
    </ul>
    <br>
    <button>
        <a href="{% url 'Servicio Create' %}">Crear Servicio</a>
    </button>

</body>
</html>