<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p>Nombre: <i>{{servicio.nombre}}</i></p>
    <p>Especialidad: <i>{{servicio.especialidad}}</i></p>
    <p>Descripcion: <i>{{servicio.descripcion}}</i></p>
    <p>Precio: <i>{{servicio.precio}}</i></p>
    <p>
        <a href="{% url 'Servicio List' %}">Volver</a>
    </p>

</body>
</html>