{% extends "AppOdonto/padre.html" %}

{% block header %}
    <h1 class="display-5 fw-bolder text-white mb-2">Borrar servicio</h1>
{% endblock %}

{% block features %}
{% endblock %}

{% block testimonials %}
{% endblock %}

{% block formulario %}  
    
    <form action="" method="POST"> {% csrf_token %}
        <br>
        <h5 class="text-center">¿Seguro que queres borrar el servicio <b>{{servicio.servicio}}?</b></h5> <br>
        <p class="text-center"><input type="submit" class="btn btn-danger mx-4" value="Borrar"></p>
    </form>
    <p class="text-center">
        <a href="{% url 'Servicio List' %}" class="btn btn-primary mx-4">Volver</a>
    </p>
{% endblock %}

{% block footer %}
{% endblock %}