{% extends "AppOdonto/padre.html" %}

{% block header %}
    <h1 class="display-5 fw-bolder text-white mb-2">Servicios</h1>
{% endblock %}

{% block features %}
{% endblock %}

{% block testimonials %}
{% endblock %}

{% block formulario %}  

    <ul>
        {% for servicio in object_list %} 
            <li>
                <p>
                    Nombre: {{servicio.nombre}}
                </p>
                <p>
                    <a href="{% url 'Servicio Detail' servicio.id %}">Ver Servicio</a>
                    <a href="{% url 'Servicio Edit' servicio.id %}">Editar Servicio</a>
                    <a href="{% url 'Servicio Delete' servicio.id %}">Borrar Servicio</a>
                </p>
            </li>
        {% endfor %}
    </ul>
    <br>
    <button>
        <a href="{% url 'Servicio Create' %}">Crear Servicio</a>
    </button>
    <p>
        <a href="{% url 'Inicio' %}">Volver</a>
    </p>
{% endblock %}

{% block footer %}
{% endblock %}