{% extends "AppOdonto/padre.html" %}

{% block header %}
    <h1 class="display-5 fw-bolder text-white mb-2">Borrar servicio</h1>
{% endblock %}

{% block features %}
{% endblock %}

{% block testimonials %}
{% endblock %}

{% block formulario %}  
    
    <form action="" method="POST"> {% csrf_token %}
        <p>¿Seguro que queres borrar el servicio?</p>>
        <input type="submit" value="Borrar">
    </form>
    <p>
        <a href="{% url 'Servicio List' %}">Volver</a>
    </p>
{% endblock %}

{% block footer %}
{% endblock %}