{% extends "AppOdonto/padre.html" %}

{% block header %}
    <h1 class="display-5 fw-bolder text-white mb-2">Detalle servicio</h1>
{% endblock %}

{% block features %}
{% endblock %}

{% block testimonials %}
{% endblock %}

{% block formulario %}  
    
    <p>Nombre: <i>{{servicio.nombre}}</i></p>
    <p>Especialidad: <i>{{servicio.especialidad}}</i></p>
    <p>Descripcion: <i>{{servicio.descripcion}}</i></p>
    <p>Precio: <i>{{servicio.precio}}</i></p>
    <p>
        <a href="{% url 'Servicio List' %}">Volver</a>
    </p>

{% endblock %}