{% extends "AppOdonto/padre.html" %}

{% block header %}
    <h1 class="display-5 fw-bolder text-white mb-2">Detalle turno</h1>
{% endblock %}

{% block features %}
{% endblock %}

{% block testimonials %}
{% endblock %}

{% block formulario %}  

<section class="m-5">
    <p><b>Paciente:</b> <i>{{turno.paciente}}</i></p>
    <p><b>Servicio:</b> <i>{{turno.servicio}}</i></p>
    <p><b>Profesional:</b> <i>{{turno.profesional}}</i></p>
    <p><b>Fecha:</b> <i>{{turno.fecha}}</i></p>
    <p><b>Horario:</b> <i>{{turno.horario}}</i></p> <br>
    <p>
        <a href="{% url 'Turno List' %}" class="btn btn-primary mx-4">Volver</a>
    </p>
</section>

{% endblock %}

{% block footer %}
{% endblock %}