<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p>Paciente: <i>{{turno.paciente}}</i></p>
    <p>Servicio: <i>{{turno.servicio}}</i></p>
    <p>Profesional: <i>{{turno.profesional}}</i></p>
    <p>Fecha: <i>{{turno.fecha}}</i></p>
    <p>Horario: <i>{{turno.horario}}</i></p>
    <p>
        <a href="{% url 'Turno List' %}">Volver</a>
    </p>

</body>
</html>