{% extends "AppOdonto/padre.html" %}

{% block header %}
    <h1 class="display-5 fw-bolder text-white mb-2">Detalle turno</h1>
{% endblock %}

{% block features %}
{% endblock %}

{% block testimonials %}
{% endblock %}

{% block formulario %}  

    <p>Paciente: <i>{{turno.paciente}}</i></p>
    <p>Servicio: <i>{{turno.servicio}}</i></p>
    <p>Profesional: <i>{{turno.profesional}}</i></p>
    <p>Fecha: <i>{{turno.fecha}}</i></p>
    <p>Horario: <i>{{turno.horario}}</i></p>
    <p>
        <a href="{% url 'Turno List' %}">Volver</a>
    </p>

{% endblock %}

{% block footer %}
{% endblock %}