{% extends "AppOdonto/padre.html" %}

{% block header %}
    <h1 class="display-5 fw-bolder text-white mb-2">Turnos</h1>
{% endblock %}

{% block features %}
{% endblock %}

{% block testimonials %}
{% endblock %}

{% block formulario %}    
    <ul>
        {% for turno in object_list %} 
            <li>
                <p>
                    Paciente: {{turno.paciente}}
                </p>
                <p>
                    <a href="{% url 'Turno Detail' turno.id %}">Ver Turno</a>
                    <a href="{% url 'Turno Edit' turno.id %}">Editar Turno</a>
                    <a href="{% url 'Turno Delete' turno.id %}">Borrar Turno</a>
                </p>
            </li>
        {% endfor %}
    </ul>
    <br>
    <button>
        <a href="{% url 'Turno Create' %}">Crear Turno</a>
    </button>
    <p>
        <a href="{% url 'Inicio' %}">Volver</a>
    </p>
{% endblock %}
