{% extends "AppOdonto/padre.html" %}

{% load static %}

{% block header %}
    <h1 class="display-5 fw-bolder text-white mb-2">Inicio de sesión</h1>
{% endblock %}

{% block features %} 
{% endblock %} 

{% block testimonials %}
{% endblock %}  

{% block formulario %}

    <form action="" method="POST" class="m-4"> {% csrf_token %}
        <table>
            {{form.as_table}}
        </table> <br>
        <input type = "submit" class="btn btn-success" value = "Iniciar sesión"> 
    </form>
    <p>
        <a href="{% url 'Inicio' %}" class="btn btn-primary mx-4">Volver</a>
    </p>
{% endblock %}

{% block footer %}
{% endblock %}


