{% extends "AppOdonto/padre.html" %}

{% block header %} 
    <h1 class="display-5 fw-bolder text-white mb-2">Agregar Profesional</h1>
{% endblock %}

{% block features %} 
{% endblock %} 

{% block testimonials %} 
{% endblock %}


{% if miFormulario.errors %}
    <p style="color:red">Están mal los datos, revisar.</p>
{% endif %}

{% block formulario %}
    <form action="" method="POST"> {% csrf_token %}
        <table>
            {{miFormulario.as_table}}
        </table>
        <input type="submit", value="Agregar">
    </form>
    <p>
        <a href="{% url 'Ver Profesionales' %}">Volver</a>
    </p>
{% endblock %}

{% block footer %}
{% endblock %}