<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Agregar profesional</title>
</head>
<body>
    <form action="/profesionales/profesionalFormulario/" method="POST">
        <p> Nombre: <input type="text" name="nombre"></p>
        <p> Apellido: <input type="text" name="apellido"></p>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>