{% extends "AppOdonto/padre.html" %}

{% block header %} 
    <h1 class="display-5 fw-bolder text-white mb-2">Profesionales</h1>
{% endblock %} 

{% block features %}


{% endblock %}

{% block testimonials %} 
{% endblock %}

{% block formulario %} 

    <table class="table m-5">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Especialidad</th>
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">

        {% for p in profesionales %}
            <tr>
                <td>{{p.nombre}}</td>
                <td>{{p.apellido}}</td>
                <td>{{p.especialidad}}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


    {% for p in profesionales %} 
        <li>{{p}}</li>
            <a href="{% url 'Editar Profesional' p.nombre %}" class="btn btn-outline-warning">Editar</a>
            <a href="{% url 'Borrar Profesional' p.nombre %}" class="btn btn-outline-danger">Borrar</a>
    {% endfor %}
    <br>
    <br>
        <a href="{% url 'Agregar Profesional' %}" class="btn btn-outline-success">Agregar Profesional</a>
        <p> <br>
        <a href="{% url 'Inicio' %}" class="btn btn-primary">Volver</a>
        </p>

{% endblock %}


{% block footer %}
{% endblock %}
