{% extends "AppOdonto/padre.html" %}

{% block header %} 
    <h1 class="display-5 fw-bolder text-white mb-2">Profesionales</h1>
{% endblock %} 

{% block features %}

    {% for p in profesionales %} 

        <li>{{p}}</li>
        <button>
            <a href="{% url 'Editar Profesional' p.nombre %}">Editar</a>
            <a href="{% url 'Borrar Profesional' p.nombre %}">Borrar</a>
        </button>

    {% endfor %}

    <a href="{% url 'Agregar Profesional' %}">Agregar Profesional</a>
    <p>
        <a href="{% url 'Inicio' %}">Volver</a>
    </p>
{% endblock %}

{% block testimonials %} 
{% endblock %}

{% block formulario %} 
{% endblock %}
