{% extends "AppOdonto/padre.html" %}

{% load crispy_forms_tags %}

{% block header %}
    Lista de pacientes
{% endblock %}

{% block formulario %} 

    <button>
        <a href="{% url 'Crear Paciente' paciente.id %}">Agregar paciente</a>
    </button>

    {% for paciente in object_list %}
        <p>Nombre: {{paciente.nombre}}      
            <a href="{% url 'Detalle Paciente' paciente.id %}">Detalle paciente</a>
            <a href="{% url 'Modificar Paciente' paciente.id %}">Editar paciente</a>    
            <a href="{% url 'Eliminar Paciente' paciente.id %}">Eliminar paciente</a>
        </p>  

    {% endfor %}


{% endblock %}